
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding:22%">
    <h2 style="text-align:center">Vui lòng đăng nhập!</h2>
</div>

