
@{
    ViewBag.Title = "ReturnLogin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container" style="padding:22%">
    <h2 style="text-align:center">ĐĂNG NHẬP THÀNH CÔNG!</h2>
</div>


