
@{
    ViewBag.Title = "HuyDonHang";
    Layout = "~/Views/Shared/_Layout_Temp.cshtml";
}

<div class="container">
    <h2>HUỶ ĐƠN HÀNG</h2>
    <h3>Đơn hàng đã được hủy</h3>
    <p>
        @Html.ActionLink("Trang chủ", "Index", "GreenFood")
    </p>
</div>


