
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout_Temp.cshtml";
}

<div class="container" style="padding:100px 70px;">
    <h2>ĐƠN HÀNG ĐÃ ĐƯỢC GHI NHẬN</h2>
    <div class="form-control-plaintext">
        <h5 class="form-control-label">
            Đơn hàng của quý khách đã được chúng tôi ghi nhận, chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn
        </h5>
    </div>
    <p>
        @Html.ActionLink("Trang chủ", "Index", "GreenFood")
    </p>
</div>

